
body{
    align-content: center;
}
.allGrid{
    margin-top:100px;
    
}
.ui.grid{
    margin-right: 50px;
} 
.ui.button.gridButton{
    padding:20px;
    margin-top: 50px;
    width:300px;
    height:300px;
    
}
.ui.grid>.row>.column{
    margin-right: -100px;
}
.ui.grid>.row{
    padding:5px;
}